<div class="d-flex justify-center py-8">
    <img src="imgs/logo.png" alt="Dima - Seu Controle Financeiro" width="200">
</div>

<MudNavMenu>
    <MudNavLink Href="/">Dashboard</MudNavLink>
    <MudNavLink Href="/entry/history">Lançamentos</MudNavLink>
    <MudNavLink Href="/categories">Categorias</MudNavLink>
    <MudNavLink Href="/stocks">Ativos</MudNavLink>
    <MudNavLink Href="/premium">Premium</MudNavLink>
    <MudNavLink Href="/logout">Sair</MudNavLink>
</MudNavMenu>